<div class="row mx-0 bg-white" ng-if="items">
	<div class="col-12 py-3">
		<table id="datatable-buttons" class="table table-collapse table-bordered dt-responsive">
			<thead>
				<tr>
					<th>Id</th>
					<th>Tên</th>
					<th>Giá</th>
					<th>Ngày tạo</th>
					<th>Hình ảnh</th>
					<th>Danh mục</th>
					<th>Có sẵn</th>
					<th>Thông tin</th>
					<th>Miêu tả</th>
					<th>#</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pager.items">
					<!-- Your table body content -->
					<td class="align-center">{{item.id}}</td>
					<td class="align-center w-25">{{item.name}}</td>
					<td class="align-center">{{item.price}}</td>
					<td class="align-center">{{item.createDate | date:'dd/MM/yyyy'}}</td>
					<td class="align-center"><img src="/assets/images/{{item.image}}" style="width: 50px;"> </td>
					<td class="align-center">{{item.category.name}}</td>
					<td class="align-center">{{item.available?'Yes':'No'}}</td>
					<td class="align-center">{{item.comment2}}</td>
					<td class="align-center">{{item.comment | limitTo:50}}</td>
					<td class="align-center">
						<div class="btn-group btn-group-xs">
							<button ng-click="edit(item)" class="btn btn-icon">
								<i class="fa fa-xs fa-pen"></i>
							</button>
							<button ng-click="delete(item)" class="btn btn-danger">
								<i class="fa fa-xs fa-times"></i>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="card-footer text-center">
	<button ng-click="pager.first()" class="btn btn-danger">
		<i class="fas fa-step-backward"></i>
	</button>
	<button ng-click="pager.prev()" class="btn btn-primary">
		<i class="fas fa-chevron-left"></i>
	</button>
	<button class="btn btn-success">{{pager.page + 1}} of {{pager.count}}</button>
	<button ng-click="pager.next()" class="btn btn-primary">
		<i class="fas fa-chevron-right"></i>
	</button>
	<button ng-click="pager.last()" class="btn btn-danger">
		<i class="fas fa-step-forward"></i>
</div>
<script src="/assetss/js/init.js"></script>